*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.nav
*.snm
*.sta
*.pgf
*.pgf-plot.*
*.pgf-plot.*
*.xdv
.vscode/
.stfolder/
.stversions/
.stignore
beamtry.toc
beamtry.out
解析几何/function_derivative__classified_discussion.toc
解析几何/function_derivative__classified_discussion.out
